---
import DemoLayouts from "../../layout/demoLayouts.astro";
---

<DemoLayouts data="SVELTE + BUN" title="SVELTE">
  <main class="mt-1 flex flex-col h-screen">
   
  </main>
</DemoLayouts>

</DemoLayouts>
