---
import Button from "../../components/react/Button";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>React</title>
  </head>
  <body>
    <Button client:load />
  </body>
</html>
