---
import DemoLayouts from "../../layout/demoLayouts.astro";
---

<DemoLayouts data="HTMX + PHP" title="HTMX">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <main hx-get="/api/htmx/posts" hx-trigger="load">
  
  </main>
</DemoLayouts>
