---
import App from "../../components/react/App";
import DemoLayouts from "../../layout/demoLayouts.astro";
---

<DemoLayouts title="React" data="React + Nodejs">
  <div class="flex gap-2">
    <App client:only="react" />
  </div>
</DemoLayouts>
