---
import QwikLogo from "../UI/QwikLogo.astro";
import { ViewTransitions } from "astro:transitions";
import ThemeSwitcher from "../UI/ThemeSwitcher.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Диплом</title>
    <ViewTransitions />
  </head>
  <body
    class="p-4 bg-zinc-100 flex flex-col gap-4 text-black dark:bg-zinc-800 dark:text-white"
  >
    <ThemeSwitcher />

    <div class="flex gap-2 flex-col dark:bg-zinc-600 bg-zinc-200 p-4 rounded">
      <h1 class="text-2xl text-center">Сравнение разных веб технологий</h1>
    </div>

    <div
      class="flex flex-col lg:grid lg:grid-cols-4 lg:grid-rows-1 gap-4 mx-auto"
    >
      <!-- Parent div -->
      <!-- React -->
      <a class="group relative flex flex-col gap-2" href="">
        <div
          class="h-full text-center p-4 rounded dark:bg-zinc-600 dark:group-hover:bg-zinc-700 transition-colors duration-300 cursor-pointer bg-zinc-200 hover:bg-zinc-300"
        >
          <i
            class="color-white absolute right-[-5px] rotate-[-45deg] bottom-[-5px] fa-solid fa-hand-pointer"
          ></i>
          <h2 class="text-center text-xl">
            React <i class="text-[#149ECA] fa-brands fa-react"></i>
          </h2>
          <hr class="opacity-30 mt-2 pb-2" />
          <p class="">
            Мощный и популярный фреймворк для создания веб-приложений. Он
            предоставляет удобные инструменты для работы с данными и
            компонентами, а также поддерживает горячую перезагрузку, что делает
            его идеальным выбором для разработки быстрого и эффективного
            веб-приложения. Поддерживает различные библиотеки и инструменты для
            расширения функциональности.
          </p>
        </div>
        <div class="flex gap-2 w-full">
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            NodeJS
          </div>
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            MongoDB
          </div>
        </div>
      </a>
      <!-- Svelte -->
      <a class="group relative flex flex-col gap-2" href="svelte">
        <div
          class="h-full text-center p-4 rounded bg-zinc-200 dark:bg-zinc-600 dark:hover:bg-zinc-700 transition-colors duration-100 cursor-pointer hover:bg-zinc-300"
        >
          <i
            class="absolute right-[-5px] rotate-[-45deg] bottom-[-5px] fa-solid fa-hand-pointer"
          ></i>
          <h2 class="justify-center items-center text-xl flex gap-2">
            Svelte <img
              src="/svelte-icon.svg"
              width="20px"
              height="20px"
              alt=""
            />
          </h2>
          <hr class="opacity-30 mt-2 pb-2" />
          <p>
            Легкий, современный и мощный фреймворк для создания веб-приложений.
            Он позволяет создавать высокопроизводительные и отзывчивые
            приложения с минимальным кодом. Svelte предоставляет удобные
            инструменты для работы с данными и компонентами, а также
            поддерживает горячую перезагрузку, что делает его идеальным выбором
            для разработки быстрого и эффективного веб-приложения.
          </p>
        </div>
        <div class="flex gap-2 w-full">
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            Bun
          </div>
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            PostgreSQL
          </div>
        </div>
      </a>
      <!-- Qwik -->
      <a class="group relative flex flex-col gap-2" href="qwik">
        <div
          class="h-full text-center p-4 rounded bg-zinc-200 dark:bg-zinc-600 dark:hover:bg-zinc-700 transition-colors duration-100 cursor-pointer hover:bg-zinc-300"
        >
          <i
            class="absolute right-[-5px] rotate-[-45deg] bottom-[-5px] fa-solid fa-hand-pointer"
          ></i>
          <h2 class="justify-center items-center text-xl flex gap-2">
            Qwik <QwikLogo />
          </h2>
          <hr class="opacity-30 mt-2 pb-2" />
          <p>
            Qwik - это новый фреймворк для создания веб-приложений, который
            сочетает в себе мощь React и скорость Svelte. Он предлагает простой
            и понятный синтаксис, горячую перезагрузку и возможность
            использования компонентов из других библиотек. Qwik также
            предоставляет инструменты для работы с данными и анимациями, что
            делает его идеальным выбором для разработки современных и
            интерактивных веб-приложений.
          </p>
        </div>
        <div class="flex gap-2 w-full">
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            Go
          </div>
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            Redis
          </div>
        </div>
      </a>
      <!-- HTMX -->
      <a class="group relative flex flex-col gap-2" href="htmx">
        <div
          class="h-full text-center p-4 rounded bg-zinc-200 dark:bg-zinc-600 dark:hover:bg-zinc-700 transition-colors duration-100 cursor-pointer hover:bg-zinc-300"
        >
          <i
            class="absolute right-[-5px] rotate-[-45deg] bottom-[-5px] fa-solid fa-hand-pointer"
          ></i>
          <h2 class="justify-center items-center text-xl flex gap-2">
            htmx <span class="px-1 font-bold text-base rounded-md bg-gray-600">
              <span>{"<"}</span>
              <span class="text-blue-950">{"/"}</span>
              <span>{">"}</span>
            </span>
          </h2>
          <hr class="opacity-30 mt-2 pb-2" />
          <p>
            HTMX - это библиотека для создания интерактивных веб-приложений на
            основе HTML и JavaScript. Она позволяет легко интегрировать AJAX и
            другие веб-технологии в ваш проект, делая его более быстрым и
            отзывчивым. HTMX предоставляет удобные инструменты для работы с
            данными и анимациями, а также поддерживает горячую перезагрузку, что
            делает его идеальным выбором для разработки современных и
            интерактивных веб-приложений.
          </p>
        </div>
        <div class="flex gap-2 w-full">
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            PHP
          </div>
          <div
            class="w-full transition-colors duration-300 text-center p-4 rounded bg-zinc-200 group-hover:bg-zinc-300 dark:bg-zinc-600 dark:group-hover:bg-zinc-700"
          >
            MySQL
          </div>
        </div>
      </a>
    </div>
    <footer
      class="text-center dark:bg-zinc-600 rounded p-4 bg-zinc-200 hover:bg-zinc-300 transition-colors duration-300 dark:hover:bg-zinc-700"
    >
      <p class="text-center">
        Данная проект был построен на Server-Side-Generation web-framework <a
          href="https://www.astro.build"
          target="_blank"
          class="underline">Astro</a
        >
      </p>
    </footer>
    <script is:inline>
      //Check theme
      if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </body>
</html>
