---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <main class="border p-4 flex flex-col sm:grid grid-cols-4">
    <div><h2 class="dark:text-white text-black">React</h2></div>
    <div><h2 class="dark:text-white text-black">Svelte</h2></div>
    <div><h2 class="dark:text-white text-black">Qwik</h2></div>
    <div><h2 class="dark:text-white text-black">HTMX</h2></div>
  </main>
</Layout>
