<button
  onclick="toggleTheme()"
  class="hidden
  z-50
  sm:block
  fixed
  bottom-5
  right-5
  w-10
  aspect-square
  rounded-full
  transition-colors
  duration-300
  bg-zinc-800
  hover:bg-zinc-500
  dark:bg-zinc-300
  dark:hover:bg-zinc-100"
></button>
<script is:inline>
  function toggleTheme() {
    document.documentElement.classList.toggle("dark");
    localStorage.setItem(
      "theme",
      document.documentElement.classList.contains("dark") ? "dark" : "light"
    );
  }
</script>
