---
import DemoLayouts from "../../layout/demoLayouts.astro";
---

<DemoLayouts title="HTMX">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <button hx-get="htmx-demo/getdata" hx-target="#result">Click me</button>
  <div id="result"></div>
</DemoLayouts>
