---
import ThemeSwitcher from "../UI/ThemeSwitcher.astro";
import { ViewTransitions } from "astro:transitions";

const { title, data } = Astro.props;
---

<html lang="en" transition:persist>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <ViewTransitions/>
  </head>
  <body class="bg-zinc-200 text-black dark:bg-zinc-600 dark:text-white">
    <header class="bg-zinc-300 text-black dark:bg-zinc-700 dark:text-white">
      <nav class="flex justify-center mx-auto max-w-xl p-2">
        <ThemeSwitcher />

        <a
          href="/"
          class="p-2 transition-colors duration-100 rounded hover:bg-zinc-400 dark:hover:bg-zinc-800"
          >{data}</a
        >
      </nav>
    </header>
    <slot />
    <script is:inline>
      //Check theme
      if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </body>
</html>
