---
import ThemeSwitcher from "../UI/ThemeSwitcher.astro";
---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ВКР</title>
  </head>
  <body class="dark:bg-zinc-600 bg-zinc-50">
    <header class="dark:text-white text-black">
      <nav class="flex justify-evenly items-center py-2">
        <h1 class="text-center text-xl">Выпускная квалификационная работа</h1>
        <ThemeSwitcher />
      </nav>
      <hr class="opacity-25" />
    </header>
    <div class="container p-4 mx-auto">
      <slot />
    </div>
    <script is:inline>
      //Check theme
      if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </body>
</html>
